/* OTROS ESTILOS */
.w-80{
    width: 80%;
}

/* NAV */
.transparent-color{
    background-color: transparent;
}

.black-color{
    background-color: black;
}

.main-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    transition: 1s;
}

.logo-sofa-nav{
    background: url('/images/logosofamimanegro.svg')center center/contain no-repeat;
    height: 10vh;
}

.logo-sofa-white{
    background: url('/images/logosofamima.svg')center center/contain no-repeat;
}

.nav-menus{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menus a{
    text-decoration: none;
    color: black;
}

.white-color-a a{
    color: white;
}

.social-media{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-media a{
    color: black;
    text-decoration: none;
}

.white-color-icon a{
    color: white;
}

.social-media i{
    font-size: 24px
}